.ipynb_checkpoints
.gitignore
.vscode
__pycache__
**.log

# Test
atommass.dat
.coverage*
.pytest_cache/
test/data/output/
atommass.dat
**/tmp/

# Build
build/
dist/
*.egg-info
mwf.tar.gz

# Docs
docs/_build/

# pixi environments
.pixi
*.egg-info
