name: mwf_env
channels:
  - conda-forge
  - nodefaults
dependencies:
  # Compatible with python<3.13
  - python=3.11
  # Use pyyaml to read the inputs.yaml file
  - pyyaml
  # From ambertools we use pytraj mostly
  - ambertools
  # From biopython we use the sequence alignment tools
  - biopython>1.79
  # CMIP is used for the energies analysis
  - bioconda::cmip
  # Fpocket is used for the pockets analysis
  - fpocket
  # Gromacs is used for several processing and analysis steps
  - bioconda::gromacs_mddb=2025.3=h61c8354_1
  # MDanalysis is used for some processing steps
  - mdanalysis
  # MDtraj is used for several processing and analysis steps
  # MDtraj 1.10 has a critical error: https://github.com/mdtraj/mdtraj/issues/1893
  - mdtraj >=1.11.0
  # Numpy and scipy are usually already included but they are required
  - numpy
  - scipy
  # VMD is used for some processing steps
  - vmd=1.9.3=hbf76b22_2
  # Parser to read blast results
  - xmltodict
  # Ligands analyses
  - rdkit
  - mordred
  # Membrane proteins analysis
  - bioconda::biobb_mem=5.1.1=*_1
  - requests # To check is molecules is in LIPID MAPS
  # We must declare pip explicitly according to a warning
  # AGUS: por problemas en el cluster con certificados y requests, la versión de 'openssl' 
  # AGUS: tiene que ser forzada porque la 3.5 (la más nueva) da conflictos
  - conda-forge::openssl=3.4.1
  - pip
  # This library is used to calculate TM scores
  - biotite
  # For helical parameters. Can break the environment?
  - bioconda::curves
  # Visual tool to display graphs in terminal and even text logs
  - plotext
  # For dataset templates
  - jinja2
  # To compare file content between runs thus telling if the inputs have changed
  - python-xxhash