/* Change link colors */
.wy-nav-content a {
    color: #9915E7;
}

.wy-nav-content a:hover,
.rst-content .viewcode-link:hover {
    color: #4f14a7;
}

/* Change background color of the content area */
.wy-nav-content {
    background: #f8f9fa;
}

.wy-menu-vertical a:active{
    background: #9915E7;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption,
.wy-side-nav-search .wy-dropdown>a, .wy-side-nav-search>a {
    color: #9915E7;
}

/* Change code block background */
.highlight {
    background: #7110b01f;
}

.rst-content .warning{
    background: #cf05ca12;
}
.rst-content .warning .admonition-title{
    background: #cf05ca;
}


.rst-content code.literal, 
.rst-content tt.literal, html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt
{
    color: #3a29f6;
}
.rst-content .note {
    background: #3a29f61f;
}

.rst-content .note .admonition-title {
    background: #3a29f6;
}

.rst-content .note {
    background: #3a29f61f;
}

.rst-content .tip .admonition-title {
    background: #30153c;
}

.rst-content .tip {
    background: #30153c1f;
}

/* API Reference */
html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt
{
    color: #3a29f6;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.citation):not(.glossary):not(.simple)>dt
 {
    background: #cf05ca12;
    border-top: 3px solid #a411ec;
}

.rst-content .viewcode-link {
    color: #cf05ca;
}

#workflow-tasks a{
    font-size: 70%;
    color: #cf05ca;
    font-weight: 700;
    vertical-align: top;
}

#workflow-tasks a:hover {
    color: #4f14a7;
}

pre {
    white-space: pre-wrap !important; 
}